<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Department</title>
</head>
<body>
<div th:class="main">
    <div th:class="container">
        <h2>List of Departments</h2>
        <hr/>

        <a th:href="@{/department/add}" class="btn btn-primary btn-lg mb-3">Add department</a>

        <table class="table table-striped table-bordered align-middle">
            <thead th:class="table-dark">
            <tr>
                <th>#</th>
                <th>Department Name</th>
                <th>Employees List</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody th:each="department, status: ${departments}">
            <td th:text="${status.count}"/>
            <td th:text="${department.departmentName}"/>
            <td><a th:href="@{/department/employee-list(departmentId=${department.id})}">View</a></td>
            <td>
                <!-- Update button -->
                <a th:href="@{/department/update(departmentId=${department.id})}"
                   class="btn btn-sm btn-info">Update</a>

                <!-- Delete button -->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                        th:data-bs-target="|#deleteDepartmentModal${status.index}|">
                    Delete
                </button>

                <!-- Modal -->
                <div class="modal fade" th:id="|deleteDepartmentModal${status.index}|" tabindex="-1"
                     th:aria-labelledby="|deleteDepartmentModalLabel${status.index}|"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" th:id="|deleteDepartmentModalLabel${status.index}|">Delete
                                    department</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this department?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                </button>
                                <a th:href="@{/department/delete(departmentId=${department.id})}"
                                   class="btn btn-danger">
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            </tbody>
        </table>
        <a th:href="@{/}">Back to Main page</a>
    </div>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>