<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Employee Management System</title>
</head>
<body>
<div id="home">
    <div class="landing-text">
        <p class="landing-header">Employee Management System</p>
        <a th:href="@{/employee/list}" class="btn btn-light btn-lg">Employee</a>
        <br/>
        <a th:href="@{/department/list}" class="btn btn-light btn-lg">Department</a>
    </div>
</div>
</body>
</html>